<mat-toolbar color="primary">
  <span><a routerLink="/">My Notes</a></span>
  <span class="spacer"></span>
  <span>
  <ul>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/login" >Log in</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/signup" >Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <a mat-button routerLink="/create" >Add note</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>
  </span>
</mat-toolbar>
