<mat-toolbar color="primary">
  <span *ngIf="!isNotesApp()">
    <a mat-raised-button routerLink="/"><font color="#3f51b5"><b>N</b></font></a>
  </span>
  <span *ngIf="isNotesApp()">
    <a mat-raised-button [routerLink]="[noteRoute]"><font color="#3f51b5"><b>n</b></font></a>
  </span>
  <span *ngIf="isUserAuthenticated && isNotesApp()">
    <a mat-button [routerLink]="[noteRoute, 'create']">Add</a>
  </span>
  <span class="spacer"></span>
  <span>
  <ul>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/login" >Log in</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
    <span class="divider">|</span>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/signup" >Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>
  </span>
</mat-toolbar>
