mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 9000; /* ensure toolbar is on top */
  font-size: 18px;
  font-weight: 400;
  height: 48px;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
  display: flex;
}
a, button {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.mat-menu-item {
  color: black;
  font-weight: 400;
}
.mat-raised-button {
  color: black;
  width: 40px;
  min-width: 40px;
  font-size: 24px;
  font-weight: 2400;
  text-align: center;
  padding: 0;
}
.main-button {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 0;
  color: #ffffff;
  box-shadow: none;
  font-size: calc(24px + 8px);
}
.spacer {
  flex: 1 1 auto;
}
.divider {
  font-weight: 8;
  font-size: 24px;
  color: gray;
}
