<mat-toolbar color="primary">
  <span>
    <button
      mat-raised-button
      class="main-button"
      color="primary"
      routerLink="/">
      <b>N</b>
    </button>
  </span>
  <span *ngIf="isUserAuthenticated && isNotesApp()">
    <a mat-button [routerLink]="[noteRoute, 'create']">Add</a>
  </span>
  <span class="spacer"></span>
  <span>
  <ul *ngIf="isNotesApp()">
    <li *ngIf="!isUserAuthenticated">
      <a
        mat-button
        routerLink="/auth/login"
        [queryParams]="{ redirectUrl:activatedUrl.substring(1) }">Log in</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
    <span class="divider">|</span>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a
        mat-button
        routerLink="/auth/signup"
        [queryParams]="{ redirectUrl:activatedUrl.substring(1) }">Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>

  <ul *ngIf="!isNotesApp()">
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/login">Log in</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
    <span class="divider">|</span>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/signup">Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>
  </span>
</mat-toolbar>
