mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 9000; /* ensure toolbar is on top */
  font-size: 18px;
  font-weight: 400;
  height: 48px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}