@media only screen and (min-width: 680px) {
  .auth-container { width: 62%; }
}
@media only screen and (max-width: 680px) {
  .auth-container { width: 81%; }
}
.auth-container {
  max-width: 420px;
  margin: 1rem auto;
  border-radius: 8px;
}
mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
.mat-raised-button {
  margin-top: 8px;
  width: 100%;
  border-radius: 24px;
  height: 48px;
  text-align: center;
}