mat-expansion-panel {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
mat-paginator {
  margin-top: 1rem;
}

:host ::ng-deep mat-expansion-panel-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
mat-expansion-panel-header.mat-expanded,
mat-expansion-panel-header.mat-expanded:hover,
mat-expansion-panel-header.mat-expanded:focus {
  font-size: 24px;
  font-weight: 500;
}
.mat-stroked-button {
  width: 48%;
  max-width: 240px;
  border-radius: 24px;
}
.wrapping {
  white-space: pre-wrap;
  word-break: normal;
}