@media only screen and (min-width: 680px) {
  .accordion-container,.paginator-container { width: 62%; }
}
@media only screen and (max-width: 680px) {
  .accordion-container,.paginator-container { width: 72%; }
}
mat-spinner {
  margin: auto;
}

:host ::ng-deep .mat-paginator-container .mat-paginator-outer-container {
  margin-right: 0 !important;
  padding: 0 !important;
}
:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 0 0 24px !important;
}
mat-expansion-panel-header.mat-expanded,
mat-expansion-panel-header.mat-expanded:hover,
mat-expansion-panel-header.mat-expanded:focus {
  height: 24px !important;
  font-size: 24px;
  font-weight: 500;
}
mat-expansion-panel-header.unauth-title,
mat-expansion-panel-header.unauth-title:hover,
mat-expansion-panel-header.unauth-title:focus {
  background: #696969 !important;
  color: white !important;
}
mat-expansion-panel-header.mat-expanded.unauth-title,
mat-expansion-panel-header.mat-expanded.unauth-title:focus,
mat-expansion-panel-header.mat-expanded.unauth-title:hover {
  background: white !important;
  color: black !important;
}
.mat-title {
  margin: 0 0 8px 0 !important;
}
.mat-button {
  width: 12%;
  min-width: 81px;
  margin: 0;
}
.for-caption {
  padding-top: 0;
  padding-bottom: 0;
  background: gray;
}
.mat-caption {
  margin-top: 0;
  margin-bottom: 0;
}
.mat-action-row {
  padding: 0 8px 0 0;
}
.paginator-container, .small-spinner-container,
.error-message-container,
.accordion-container {
  margin: auto;
}
.paginator-container, .small-spinner-container,
.error-message-container {
  margin-top: 2px;
}
.scrolling-container {
  height: 124px;
}

:host ::ng-deep .ql-container {
  border: 0 !important;
}
:host ::ng-deep .ql-editor {
  white-space: pre-wrap !important;
  padding: 0 !important;
  margin: 0 !important;
}