<div class="card">

<mat-accordion multi=true *ngIf="notes.length > 0">
  <mat-expansion-panel *ngFor="let note of notes">
    <mat-expansion-panel-header>
      {{ note.title }}
    </mat-expansion-panel-header>
    <hr>

    <div class="wrapping">{{ note.content }}</div>

    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn" (click)="onDelete(note.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="caption" align="center" *ngIf="notes.length == 0">Add your first note!</p>
</div>