<mat-accordion multi=true *ngIf="notes.length > 0">
  <mat-expansion-panel *ngFor="let note of notes">
    <mat-expansion-panel-header>
      {{ note.title }}
    </mat-expansion-panel-header>
    <p>
      {{ note.content }}
    </p>
    <mat-action-row>
      <button mat-raised-button color="primary">Edit</button>
      <button mat-raised-button color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="caption" align="center" *ngIf="notes.length == 0">No notes yet!</p>
