<mat-spinner *ngIf="isLoading"></mat-spinner>

<p class="mat-caption"
   align="center"
   *ngIf="notes.length == 0 && !isLoading">Add your first note!</p>

<mat-accordion *ngIf="!isLoading" cdkDropList (cdkDropListDropped)="onDrop($event)">
  <mat-expansion-panel *ngFor="let note of notes" cdkDrag>
    <mat-expansion-panel-header>
      {{ note.title }}
    </mat-expansion-panel-header>

    <div class="wrapping">{{ note.content }}</div>

    <mat-action-row *ngIf="isUserAuthenticated && userId === note.creator">
      <a mat-stroked-button color="primary" [routerLink]="['/edit', note.id]">Edit</a>
      <button mat-stroked-button color="warn" (click)="onDelete(note.id)">Delete</button>
    </mat-action-row>

    <mat-action-row *ngIf="!isUserAuthenticated || userId !== note.creator">
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="total"
               [pageSize]="limit"
               [pageSizeOptions]="options"
               (page)="onChangePage($event)">
</mat-paginator>