<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="main-container">
  <p class="mat-display-1">Welcome to the Main Page!</p>

  <p class="mat-body-1">Current available applications:</p>
  <ul class="mat-body-1">
    <li>
      <a mat-button routerLink="/note">Notes Application</a>
    </li>
    <li>
      <a mat-button routerLink="/todo">To Do List Application</a>
    </li>
  </ul>
  <ul class="mat-body-1">
    <li>
      <a mat-button routerLink="/expense">Expense Tracker App</a>
    </li>
  </ul>
</div>
