<mat-toolbar color="primary">
  <a mat-raised-button routerLink="/"><font color="#3f51b5"><b>N</b></font></a>

  <span class="spacer"></span>

  <ul>
    <li *ngIf="isUserAuthenticated">
      <button
        mat-icon-button
        class="menu-icon-button"
        (click)="toggleMenu()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
    </li>
  </ul>

  <!--<span class="spacer"></span>

  <ul>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/login" >Log in</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
    <span class="divider">|</span>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/auth/signup" >Sign up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Log out</button>
    </li>
  </ul>-->
</mat-toolbar>
