<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username"
        ngModel
        #usernameInput="ngModel"
        required>
      <mat-error *ngIf="usernameInput.invalid">Please enter a username</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput name="email"
        type="email"
        ngModel
        #emailInput="ngModel"
        required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput name="password"
        [type]="hide ? 'password' : 'text'"
        ngModel
        #passwordInput="ngModel"
        required>
      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Sign up</button>
  </form>
</mat-card>