mat-expansion-panel {
  width: 80%;
  margin: 1rem auto;
  border-radius: 8px;
}
mat-action-row {
  height: 24px;
}
mat-spinner {
  margin: auto;
}
.title {
  width: 100%;
  margin-top: 2rem;
}
.content {
  width: 100%;
  margin: .2rem auto;
}