mat-spinner {
  margin: auto;
}

.new-container {
  width: 100%;
  margin: auto;
}
.new-header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9001;
}
.title {
  font-size: 14px !important;
  height: 81%;
  width: 90%;
  margin: auto;
  margin-left: 2%;
}
.mat-input-element {
  white-space: pre;
}
.new-body {
  width: 100%;
  padding: 0;
  padding-top: 1rem;
  margin: auto;
}
.content {
  font-size: 14px !important;
  width: 100%;
  padding: 0;
}
.textarea {
  resize: none;
}