<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-expansion-panel [expanded]=true *ngIf="!isLoading">
  <form (submit)="onSaveNote(noteForm)" #noteForm="ngForm">

    <mat-form-field class="title" appearance="outline">
      <mat-label>Note Title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="note?.title"
        required
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter note title</mat-error>
    </mat-form-field>

    <mat-form-field class="content" appearance="outline">
      <mat-label>Note Content</mat-label>
      <textarea
        matInput
        rows="8"
        name="content"
        [ngModel]="note?.content"
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter note content</mat-error>
    </mat-form-field>

  <mat-action-row>
    <button
      mat-stroked-button
      class="private-button"
      color="accent"
      (click)="togglePrivate()"
      type="submit">Save as Private</button>
    <button
      class="submit"
      mat-stroked-button
      color="primary"
      type="submit">Save</button>
  </mat-action-row>

  </form>
</mat-expansion-panel>
