
.todo-main-container {
  width: 81%;
  min-height: 81vh;
  bottom: 0;
  margin: auto;
  background: #e9ebee;
}
.todo-side-container {
  width: 24%;
  background: #e9ebee;
}
.list-drag-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
}
.todo-content-container {
  margin: auto;
  margin-left: 24px;
}
.todo-content-accordion {
  margin: 8px;
  background: transparent;
  overflow: hidden;
  display: block;
}
.todo-content-panel {
  padding: 8px;
  margin: 8px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.81);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}
.todo-add {
  padding: 0 0 0 8px;
  margin: 0 0 0 16px;
  display: flex;
  flex-direction: row;
}
.list-button, .new-list-button {
  width: 94%;
  text-align: left;
}
.list-button-false {
  margin-left: 24px;
}
.title-true, .title-false,
.title-finished-true, .title-finished-false {
  margin: auto;
  margin-left: 8px;
  width: 81%;
}
.title-false, .title-finished-false {
  /*padding-left: 24px;*/
}
.title-form-true:focus, .title-form-true:hover,
.title-form-false:focus, .title-form-false:hover {
  width: 100%;
}
.title-form-true.title-form-fin-false:focus {
  border-bottom: 2px solid #3f51b5;
}
.title-form-fin-true {
  color: rgba(0,0,0,.48);
}
.spacer {
  flex: 1 1 auto;
}
.delete, .checked-true, .checked-false,
.edit, .add-empty, .drag-handle {
  line-height: 0;
  width: 24px;
  height: 24px;
}
.checked-false {
  margin-left: 24px;
}
.add-list {
  font-size: 14px;
  padding-left: 8px;
}
.display-list {
  font-size: 24px;
  width: 81%;
  max-width: 240px;
}
.display-list-true {
  border-bottom: 2px solid #3f51b5;
}
.edit-list {
  line-height: 0;
  width: 24px;
  height: 24px;
  margin: auto;
}
.add-empty {
  margin: 8px 1px 8px 24px;
}
.drag-handle {
  cursor: move;
}

.mat-sidenav-container {
  margin: auto;
}
.mat-drawer-side {
  border-right: 0px;
}
.mat-list {
  margin: auto;
}
.mat-caption {
  margin: auto;
  margin-left: 8px;
  color: rgba(0,0,0,.48);
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
  border-radius: 0 !important;
  margin-top: 12px !important;
  background-color: #e9ebee;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: .25em 0 .75em 8px !important;
}

.title-dialog {
  font-size: 14px !important;
  width: 100%;
  margin: auto;
}
.submit-dialog {
  margin-left: -62px;
  width: 62px;
  min-width: 62px;
  border-radius: 0;
}