<div mat-dialog-content>
  <p
    class="mat-title"
    *ngIf="data.isNew">Add new task</p>

<mat-form-field class="title-dialog" appearance="fill">
  <input
    matInput
    class="title-dialog-input"
    type="text"
    maxlength="81"
    value="{{data.title}}"
    cdkFocusInitial
    #title>
  <mat-hint
    *ngIf="title.value.length > 48 && (81 - ((title?.value) ? title.value.length : 0)) > 0"
    align="end">
    {{ 81 - ((title?.value) ? title.value.length : 0) }} characters remaining</mat-hint>
</mat-form-field>
  <button
    mat-button
    class="submit-dialog"
    color="primary"
    [mat-dialog-close]="title.value">Save</button>

</div>