
.todo-main-container {
  width: 81%;
  height: 81vh;
  bottom: 0;
  margin: auto;
  background: #e9ebee;
}
.todo-side-container {
  width: 16%;
  background: #e9ebee;
}
.todo-content-container {
  margin: auto;
  margin-top: 24px;
  margin-left: 24px;
}
.mat-sidenav-container {
  margin: auto;
}
.mat-drawer-side {
  border-right: 0px;
}
.mat-expansion-panel {
  width: 62%;
  margin: 8px;
  border-radius: 8px !important;
}
.mat-button {
  width: 94%;
  text-align: left;
}
.mat-icon-button {
  height: 100%;
  width: 8px;
  border-radius: 0;
  background: #ccc;
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,.12);
}
.mat-list {
  margin: auto;
}