<span *ngIf="isNew" mat-dialog-title>Add Task</span>
<span *ngIf="!isNew" mat-dialog-title>Edit Task</span>

<form (submit)="submit()" [formGroup]="form">

  <div mat-dialog-content>

    <mat-form-field
      class="list-form"
      appearance="standard"
      floatLabel="always">
      <mat-label>List</mat-label>
      <mat-select class="list-input" formControlName="list">
        <mat-option 
          *ngFor="let list of lists"
          value="{{list._id}}">{{list.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
        class="title-form"
        appearance="standard"
        floatLabel="always">
      <mat-label>Task Name</mat-label>
      <input
        matInput
        class="title-input"
        type="text"
        maxlength="81"
        formControlName="title"
        required
        #title>
      <mat-error
        *ngIf="form.get('title').hasError('required')"></mat-error>
      <mat-hint
        *ngIf="title.value.length > 48 && (81 - ((title?.value) ? title.value.length : 0)) > 0"
        align="end">
        {{ 81 - ((title?.value) ? title.value.length : 0) }} characters remaining</mat-hint>
    </mat-form-field>

  </div>

  <span mat-dialog-actions align="end">
    <button
      mat-button
      color="warn"
      (click)="closeDialog()">Cancel
    </button>
    <button
      mat-button
      type="submit"
      color="primary">
      <span *ngIf="isNew">Add</span>
      <span *ngIf="!isNew">Update</span>
    </button>
  </span>

</form>