<app-todo-header></app-todo-header>

<mat-sidenav-container class="todo-main-container">
  <mat-sidenav
    #sidenav
    class="todo-side-container"
    mode="side"
    opened>

    <div class="todo-list-container">
    <mat-list>
      <mat-list-item *ngFor="let list of lists">
        <button mat-button class="list-button">{{list}}</button>
      </mat-list-item>
    </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="todo-content-container">
      <mat-accordion class="todo-content-accordion">
        <mat-expansion-panel
          *ngFor="let todo of todos"
          class="todo-content-panel"
          hideToggle=true
          disabled=true
          #panel>
          <mat-expansion-panel-header>

            <button
              mat-icon-button
              class="checked"
              color="primary"
              (click)="toggleTask(todo.id)">
              <span *ngIf="todo.finished">
                <mat-icon>check_box</mat-icon>
              </span>
              <span *ngIf="!todo.finished">
                <mat-icon>check_box_outline_blank</mat-icon>
              </span>
            </button>

            <span
              *ngIf="!todo.finished"
              class="title">
              <input
                matInput
                class="title-form"
                type="text"
                value="{{todo.title}}"
                (click)="openEditDialog(todo.id, todo.title)"
                #title>
            </span>
            <span
              *ngIf="todo.finished"
              class="title-finished">{{todo.title}}</span>

            <span class="spacer"></span>

            <button
              mat-icon-button
              class="delete"
              color="warn"
              (click)="deleteTask(todo.id)">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="todo-add">
        <button
          mat-icon-button
          class="add-empty"
          color="primary"
          (click)="addEmptyTask()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>