<app-todo-header></app-todo-header>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<p class="mat-caption"
   align="center"
   *ngIf="!isUserAuthenticated && !isLoading">Add your first task!</p>

<mat-sidenav-container
  class="todo-main-container"
  *ngIf="isUserAuthenticated">

  <mat-sidenav
    #sidenav
    class="todo-side-container"
    mode="over"
    position="end">

    <div
      class="todo-list-container"
      *ngIf="!isLoading">
    <mat-list
      cdkDropList
      (cdkDropListDropped)="sortLists($event)">
      <mat-list-item>
        <button
          mat-button
          class="all-task-button"
          (click)="changeEnabledList(null)">All Tasks</button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
      Task Lists
        <span class="spacer"></span>
        <button
          mat-icon-button
          class="edit-list"
          [color]="listEdit ? 'accent' : 'black'"
          (click)="toggleEditList()">
          <span *ngIf="!listEdit"><mat-icon>edit</mat-icon></span>
          <span *ngIf="listEdit"><mat-icon>done</mat-icon></span>
        </button>
      </mat-list-item>

      <mat-list-item
        *ngFor="let list of lists">
        <div
          class="list-drag-container"
          cdkDragLockAxis="y"
          cdkDrag
          [cdkDragDisabled]="!listEdit">
        <span
          *ngIf="listEdit"
          class="drag-handle"
          cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </span>
        <button
          mat-button
          class="list-button list-button-{{listEdit}}"
          (click)="changeEnabledList(list)">{{list.title}}</button>
        <span *ngIf="listEdit">
        <button
          mat-icon-button
          class="delete"
          color="warn"
          (click)="deleteList(list.id)">
          <mat-icon>delete</mat-icon>
        </button>
        </span>
        </div>
      </mat-list-item>

      <div class="todo-content-add-list">
      <mat-list-item>
        <mat-form-field
          class="add-list"
          appearance="fill">
          <input
            matInput
            type="text"
            name="list"
            maxlength="24"
            placeholder="Add new list"
            (keydown.enter)="[addList(list.value), list.value='']"
            cdkFocusInitial
            #list>
          <mat-hint
            *ngIf="(24 - ((list?.value) ? list.value.length : 0)) > 0"
            align="end">
            {{ 24 - ((list?.value) ? list.value.length : 0) }} characters remaining
          </mat-hint>
        </mat-form-field>
      </mat-list-item>
      </div>
    </mat-list>

    <div class="log-out-list">
      <mat-divider></mat-divider>
      <button
        mat-button
        class="all-task-button log-out-button"
        (click)="logout()">
        Log out <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content
    class="todo-content-container"
    *ngIf="!isLoading">

      <div
        class="todo-content-header"
        *ngIf="lists.length!=0">
        <div class="todo-content-list-title">
        <input
          matInput
          class="display-list display-list-{{taskEdit}}"
          type="text"
          [value]="getListName()"
          readonly="{{enabledList==null || !taskEdit}}"
          (keydown.enter)="updateList(enabledList.id, display.value)"
          (keyup.enter)="display.blur()"
          (blur)="updateList(enabledList.id, display.value)"
          #display>

        <span class="spacer"></span>
        <span *ngIf="enabledList!=null">
          <span *ngIf="taskEdit">
          <button
            mat-button
            class="edit-list"
            (click)="sortFinishedTasks()">
            Sort<mat-icon>sort</mat-icon>
          </button>
          <button
            mat-button
            class="edit-list"
            color="accent"
            (click)="toggleEditTasks()">
            Save<mat-icon>done</mat-icon>
          </button>
          </span>
          <span *ngIf="!taskEdit">
          <button
            mat-button
            class="edit-list"
            (click)="toggleEditTasks()">
            Edit <mat-icon>edit</mat-icon>
          </button>
          </span>
        </span>
      </div>
      </div>

      <div
        class="todo-content-accordion"
        cdkDropList
        (cdkDropListDropped)="sortTasks($event)">

      <span class="mat-caption"
         align="center"
         *ngIf="lists.length==0">Add your first task by creating a list!</span>

        <div
          *ngFor="let todo of todos"
          id="panel-{{todo.id}}"
          class="todo-content-panel"
          cdkDrag
          [cdkDragDisabled]="!taskEdit"
          #panel>

            <span *ngIf="taskEdit">
            <div class="drag-handle" cdkDragHandle>
              <mat-icon>drag_indicator</mat-icon>
            </div>
            </span>

            <button
              mat-icon-button
              class="checked-{{taskEdit}}"
              color="primary"
              (click)="toggleTask(todo.id)">
              <span *ngIf="todo.finished">
                <mat-icon>check_box</mat-icon>
              </span>
              <span *ngIf="!todo.finished">
                <mat-icon>check_box_outline_blank</mat-icon>
              </span>
            </button>

            <span
              class="title-{{taskEdit}}">
              <input
                matInput
                class="title-form-{{taskEdit}} title-form-fin-{{todo.finished}}"
                type="text"
                maxlength="140"
                value="{{todo.title}}"
                readonly="{{!(!todo.finished && taskEdit)}}"
                (keyup)="updateTask(todo.id, todoTitle.value)"
                (keyup.enter)="todoTitle.blur()"
                #todoTitle>
            </span>

            <span class="spacer"></span>

            <span *ngIf="taskEdit">
            <button
              mat-icon-button
              class="delete"
              color="warn"
              (click)="deleteTask(todo.id)">
              <mat-icon>delete</mat-icon>
            </button>
            </span>

        </div>
      </div>

      <div
        class="todo-content-footer"
        *ngIf="enabledList!=null">
        <div class="todo-content-add-task">
        <button
          mat-icon-button
          class="add-task-button"
          (click)="openEditDialog(null, null)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <span
          class="mat-caption"
          *ngIf="!isSyncing">Add new task</span>

        <span class="spacer"></span>
        <span
          class="mat-caption"
          *ngIf="isSyncing">Ongoing sync in the background...</span>
        <button
          mat-icon-button
          class="sync-button"
          [color]="isSyncing ? 'accent' : 'black'"
          (click)="triggerSync(true)">
          <mat-icon>sync</mat-icon>
        </button>
        </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>