<app-todo-header></app-todo-header>

<p class="mat-caption"
   align="center"
   *ngIf="!isUserAuthenticated && !isLoading">Add your first task!</p>

<mat-sidenav-container class="todo-main-container" *ngIf="isUserAuthenticated">

  <mat-sidenav #sidenav
    class="todo-side-container-{{isMobileView}}"
    mode="{{isMobileView ? 'over' : 'side' }}"
    position="{{isMobileView ? 'end' : 'start' }}"
    (keydown.escape)="closeSidenav()">

    <div class="todo-list-container">

      <mat-list
        *ngIf="!isLoading || !isFirstLoad"
        cdkDropList
        (cdkDropListDropped)="sortLists($event)">

        <mat-list-item>
          <button
            mat-button
            class="all-task-button"
            (click)="viewAllTasks()">All Tasks</button>
        </mat-list-item>

        <mat-list-item>
        Task Lists
          <span class="spacer"></span>
          <button
            mat-icon-button
            class="edit-list"
            [color]="listsEdit ? 'primary' : 'black'"
            (click)="toggleEditLists(!listsEdit)">
            <mat-icon class="setting-icon">sort</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item
          *ngFor="let list of lists">
          <div
            class="list-drag-container"
            cdkDragLockAxis="y"
            cdkDrag
            [cdkDragDisabled]="!listsEdit">

          <span
            *ngIf="listsEdit"
            class="drag-handle"
            cdkDragHandle>
            <mat-icon class="drag-icon">drag_indicator</mat-icon>
          </span>
          <span *ngIf="!listsEdit" class="list-button">
            <button
              mat-button
              class="list-button list-button-{{listsEdit}}"
              (click)="changeEnabledList(list._id)">{{list.title}}</button>
          </span>
          <span *ngIf="listsEdit" class="list-button">{{list.title}}</span>

          </div>
        </mat-list-item>
      </mat-list>

      <mat-form-field
        *ngIf="!isLoading || !isFirstLoad"
        class="add-list"
        appearance="standard">
        <input
          matInput
          type="text"
          name="list"
          maxlength="24"
          placeholder="Add new list"
          tabindex="1"
          (focus)="enableAddList()"
          (blur)="disableAddList()"
          (keydown.enter)="[addList(list.value), list.value='']"
          cdkFocusInitial
          #list>
        <mat-hint
          *ngIf="listAdd &&
                 (24 - ((list?.value) ? list.value.length : 0)) > 0"
          align="end">
          {{ 24 - ((list?.value) ? list.value.length : 0) }} characters remaining
        </mat-hint>
      </mat-form-field>

    </div>

      <div
        class="log-out-list"
        *ngIf="isMobileView">
        <button
          mat-button
          class="all-task-button log-out-button"
          (click)="logout()">
          Log out <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>

  </mat-sidenav>

  <mat-spinner class="large-spinner" *ngIf="isLoading"></mat-spinner>

  <mat-sidenav-content class="todo-content-container" *ngIf="!isLoading">

      <div class="todo-content-header" *ngIf="lists.length!=0">
        <div class="todo-content-list-title">

          <input
            matInput
            class="display-list"
            type="text"
            [value]="enabledListName"
            [style.width.ch]="(display.value.length > 0) ? display.value.length : enabledListName.length"
            readonly="true"
            id="display-list-title"
            #display>

          <span class="spacer"></span>
          <span *ngIf="enabledList!=null">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          </span>

          <mat-menu #menu="matMenu">
            <button mat-menu-item
              (click)="openEditListDialog()">
              <mat-icon>edit</mat-icon>
              <span>Rename list</span>
            </button>

            <button mat-menu-item
              (click)="openEditListDialog()">
              <mat-icon>file_copy</mat-icon>
              <span>Copy list</span>
            </button>

            <button mat-menu-item
              color="warn"
              (click)="deleteListById(enabledList)">
              <mat-icon>delete</mat-icon>
              <span>Delete list</span>
            </button>
          </mat-menu>

        </div>
      </div>

      <div
        id="content-accordion"
        class="todo-content-accordion"
        cdkDropList
        (cdkDropListDropped)="sortTasks($event)">

      <p class="mat-caption"
         align="center"
         *ngIf="lists.length==0">Add your first task by creating a list!</p>

        <div
          *ngFor="let todo of todos"
          id="panel-{{todo.id}}"
          class="todo-content-panel
                  todo-content-panel-{{todo.localUpdate}}
                  mat-elevation-z2"
          tabindex="1"
          cdkDrag
          [cdkDragDisabled]="!enabledList ||
                              !todo.localUpdate ||
                              todo.finished"
          (focus)="enableEdit(todo)"
          (blur)="toggleEditTask(todo)"
          #panel>

            <span *ngIf="enabledList && todo.localUpdate && !todo.finished">
            <div class="drag-handle" cdkDragHandle>
              <mat-icon class="drag-icon">drag_indicator</mat-icon>
            </div>
            </span>

            <button
              mat-icon-button
              class="checked checked-{{enabledList}}
                     checked-{{todo.localUpdate}}
                     checked-finished-{{todo.finished}}"
              color="primary"
              tabindex="3"
              (blur)="toggleEditTask(todo)"
              (click)="updateTaskFinished(todo.id)">
              <span *ngIf="todo.finished">
                <mat-icon>check_box</mat-icon>
              </span>
              <span *ngIf="!todo.finished">
                <mat-icon>check_box_outline_blank</mat-icon>
              </span>
            </button>

            <span
              class="todo-label"
              *ngIf="!enabledList">
              <button
                mat-button
                class="todo-label-button"
                (click)="changeEnabledList(todo.list)">
                {{getListName(todo.list)}}
              </button>
            </span>

            <span
              class="title-{{todo.localUpdate}} title-mobile-{{isMobileView}}">
              <input
                matInput
                class="title-form-{{todo.localUpdate}}
                        title-form-fin-{{todo.finished}}"
                type="text"
                maxlength="140"
                value="{{todo.title}}"
                readonly="true"
                tabindex="2"
                (focus)="enableEdit(todo)"
                (blur)="toggleEditTask(todo)"
                #todoTitle>
            </span>

            <span class="spacer"></span>

            <span *ngIf="enabledList!=null && todo.localUpdate">
            <span *ngIf="!todo.finished">
            <button
              mat-icon-button
              class="edit"
              (click)="openEditTaskDialog(todo)">
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            </span>
            <button
              mat-icon-button
              class="delete"
              color="warn"
              (click)="deleteTask(todo.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
            </span>

        </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>