<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="new-container" *ngIf="isLoading">
  <div class="new-header"><mat-toolbar color="primary">
    <a mat-raised-button routerLink="/"><font color="#3f51b5"><b>N</b></font></a>
  </mat-toolbar></div>
</div>

<div class="new-container" *ngIf="!isLoading">
  <div class="new-header"><mat-toolbar color="primary">
    <a mat-raised-button routerLink="/"><font color="#3f51b5"><b>N</b></font></a>
    <mat-form-field class="title" >
    <input
      matInput
      type="text"
      readonly=true
      placeholder="Note Title"
      value="{{note.title}}">
    </mat-form-field>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="isUserAuthenticated && userId === note.creator">
        <a mat-button [routerLink]="[noteRoute, 'edit', note.id]">Edit</a>
      </li>
    </ul>
  </mat-toolbar></div>

  <quill-view
    [content]="note.content"
    format="text"
    preserveWhitespace=true
    theme="snow">
  </quill-view>
</div>